@charset "UTF-8";

/*초기화 pc web 기본설정(3colum*/

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    list-style: none;
}

article {
    max-width: 1024px;
    margin: 0 auto;
    /*해당되는 콘텐츠 영역에서 마진 0 auto 설정*/
    overflow: hidden;
}

h3{
    font: bold 2em/2 "arial";
}

.flex{
    display: flex;
    /*자식요소를 가변형으로 바꾼다*/
    flex-wrap: wrap;
    /*자식들의 행바꿈을 허용한다.*/
    justify-content: space-between;
    /*자식요소들의 가로정렬을 양쪽으로 맞춤*/
    align-content: space-between;
    /*자식요소들의 세로정렬을 양편으로 맞춤*/
    height: calc(250px * 3 + 10px * 2 );
}

.flex > li {
    background-position: center;
    background-size: cover;
    font: bold 3em/250px "arial";
    color: #000;
    width: calc((100% - 10px *2) / 3);
}

.flex > li:nth-child(1) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(2) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(3) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(4) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(5) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(6) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(7) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(8) {
    background-image: url(/souce/호랑이.jpg);
}

.flex > li:nth-child(9) {
    background-image: url(/souce/호랑이.jpg);
}

/*여기까지가 web*/

/*타블렛 시작 (2colume)*/
@media all and (max-width:1023px){
    .flex{
        /*행이 늘어나므로 높이를 조정*/
        height: calc(250px * 5 + 10px * 4);
        padding: 0 10px;
    }

    .flex > li{
        width: calc((100% - 10px) / 2 );
    }

    .flex >li:nth-child(9){
        width: 100%;
        order: -1;
    }
}

/*타블렛 끝*/

/*모바일 시작 (1colum)*/

@media all and (max-width:767px) {
    .flex{
        height: calc(250px * 9 + 10px * 8);
    }

    .flex >li {
        width: 100%;
    }

    .flex > li:nth-child(9){
        order:  ;
    }
}
